# Build outputs
dist/
!dist/
dist/*
!dist/NetworkTester.exe
!dist/NetworkTesterSetup.exe

# Local package/cache folders
.npm-cache/
node_modules/
macos/build/

# Editor/system files
.vscode/
.idea/
Thumbs.db
*.tmp
*.temp
